*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fdfdfd;
    color: #1a1a1a;
    line-height: 1.6;
}

.grid-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image:
        linear-gradient(#e5e5e5 1px, transparent 1px),
        linear-gradient(90deg, #e5e5e5 1px, transparent 1px);
    
    background-size: 40px 40px;
    z-index: -1;
    pointer-events: none;
    opacity: 0.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    border-bottom: 2px solid #1a1a1a;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.05em;
    border: 2px solid #1a1a1a;
    padding: 0.25rem 0.75rem;
    background: #fff;
    box-shadow: 4px 4px 0 #1a1a1a;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #1a1a1a;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.hero-section {
    padding: 6rem 0;
    text-align: center;
}

.hero-section h1 {
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 1.5rem;
    letter-spacing: -0.03em;
}

.hero-section p {
    font-size: 1.25rem;
    color: #667;
    max-width: 600px;
    margin: 0 auto;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.section-title h2 {
    font-size: 2rem;
    font-weight: 800;
    white-space: nowrap;
}

.title-line {
    height: 2px;
    background: #1a1a1a;
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.card {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #1a1a1a;
    padding: 32px; 
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

}

.card:hover {
    transform: translate(-4px, -4px);
}

.card-icon {
    font-size: 2.5rem;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.card p {
    color: #555;
    flex-grow: 1;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px solid #eee;
}

.tag {
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px ;
    border-radius: 4px;
    background-color: #eee;
    padding: 4px 8px;
    border: 1px solid #1a1a1a;

}

.next-icon {
    font-size: 1.25rem;
    font-weight: 800;
}

