*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fdfdfd;
    color: #1a1a1a;
    line-height: 1.6;
}

.grid-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image:
        linear-gradient(#e5e5e5 1px, transparent 1px),
        linear-gradient(90deg, #e5e5e5 1px, transparent 1px);
    
    background-size: 40px 40px;
    z-index: -1;
    pointer-events: none;
    opacity: 0.6;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 2rem;
    border-bottom: 2px solid #1a1a1a;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: -0.05em;
    border: 2px solid #1a1a1a;
    padding: 0.25rem 0.75rem;
    background: #fff;
    box-shadow: 4px 4px 0 #1a1a1a;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #1a1a1a;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 2rem;
}

.hero-section {
    padding: 6rem 0;
    text-align: center;
}

.hero-section h1 {
    font-size: 4rem;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 1.5rem;
    letter-spacing: -0.03em;
}

.hero-section p {
    font-size: 1.25rem;
    color: #667;
    max-width: 600px;
    margin: 0 auto;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.section-title h2 {
    font-size: 2rem;
    font-weight: 800;
    white-space: nowrap;
}

.title-line {
    height: 2px;
    background: #1a1a1a;
    width: 100%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}

.card {
    text-decoration: none;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 2px solid #1a1a1a;
    padding: 32px; 
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

}

.card:hover {
    transform: translate(-4px, -4px);
}

.card-icon {
    font-size: 2.5rem;
}

.card h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.card p {
    color: #555;
    flex-grow: 1;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px;
    border-top: 2px solid #eee;
}

.tag {
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px ;
    border-radius: 4px;
    background-color: #eee;
    padding: 4px 8px;
    border: 1px solid #1a1a1a;

}

.next-icon {
    font-size: 1.25rem;
    font-weight: 800;
}

.hidden {
    display: none;
}

#visualization-area {
    padding-top: 2rem;
}

.viz-header {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}


.btn-back {
    border: 2px solid #1a1a1a;
    padding: 8px 1rem;
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 700;
    cursor: pointer;
}

.btn-back:hover {
    background: #1a1a1a;
    color: white;
}

.viz-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.explanation-panel {
    border: 2px solid #1a1a1a;
    padding: 1.5rem;
    box-shadow: 4px 4px 0 #1a1a1a;
}

.explanation-panel h3 {
    margin-bottom: 8px;
    font-size: 18px;
}


.code-block {
    background: #1e1e1e;
    color: #d4d4d4;
    padding: 1.5rem;
    border-radius: 0;
    border: 2px solid #1a1a1a;
    font-family: 'JetBrains Mono', monospace;
    overflow: hidden;
    box-shadow: 4px 4px 0 #1a1a1a;
    position: relative;
    max-height: 197px;
}


.controls {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding-top: 1rem;
    border-top: 2px solid #eee;
}

.btn-control {
    background: #1a1a1a;
    color: white;
    border: none;
    padding: 8px 1.5rem;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #1a1a1a;
}

.btn-control:hover {
    background: white;
    color: #1a1a1a;
}


.viz-layout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
}

.viz-canvas-container {
    background: white;
    border: 2px solid #1a1a1a;
    padding: 2rem;
    box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.1);
    min-height: 500px;
    display: flex;
    flex-direction: column;
}

#canvas-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 4px;
    padding-bottom: 2rem;
    position: relative;
    height: 400px;
}


.bar {
    background: #1a1a1a;
    width: 30px;
    transition: 0.2s ease,;
    border: 2px solid #1a1a1a;
}

.bar.active {
    background: #2563eb;
}

.bar.sorted {
    background: #10b981;
}


.ds-container {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;
    padding: 2rem;
}

.ds-input {
    padding: 0.5rem;
    border: 2px solid #1a1a1a;
    width: 100px;
}

.ds-input:focus {
    outline: none;
    box-shadow: 4px 4px 0 #2563eb;
}

.code-blur-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, #333);

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 0 0 1rem;
    z-index: 67;
}

.btn-show-more {
    cursor: pointer;
    border-radius: 4px;
    transition: 200ms;
    background: #4a53fb;
    color: #fff;
    border: none;
    padding: 8px 1rem;
    font-weight: 600;
    box-shadow: 0 2px 4px #00000033;
}

.btn-show-more:hover {
    background-color: #1d4ed8;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b3;
    backdrop-filter: blur(5px);

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    transition: 300ms ease-in-out;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal-content {
    position: relative;
    background-color: #1e1e1e;
    width: 90%;
    max-width: 800px;
    max-height: 85vh;

    border: 2px solid #1a1a1a;
    display: flex;
    flex-direction: column;
    transform: scale(0.9);
    transition: 300ms ease-in-out;

}

.modal-overlay.active .modal-content {
    transform: scale(1);
}

.modal-code {
    display: block;
    padding: 1.5rem;
    color: #d4d4d4;
    font-family: 'JetBrains Mono', monospace;
    font-size: 0.9rem;
    line-height: 1.5;
    white-space: pre;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 25px;
    border-bottom: 1px solid #333;
    background-color: #252526;
}

.modal-title {
    color: #fff;
    font-size: 18px;
}

.modal-body {
    padding: 0;
    overflow-y: auto;
    flex-grow: 1;
}

.modal-close {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
}

.keyword {
    color: #569cd6;
}


.function {
    color: #dcdcaa;
}
